.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  background-color: #fff;

  border-radius: 24px;
  padding: 64px 40px;
  width: 420px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-modal {
  width: 180px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../../assets/logo-modal.svg);
}

.auth-form__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  color: var(--text-secondary);
}

.btn-change {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #000;
}

.auth-form__button {
  text-align: center;
  border-color: initial;
  border-radius: 28px;
  width: 340px;
  height: 56px;
  background-color: #6a5dc2;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}

.auth-form__button:hover {
  color: var(--primary-hover);
}

input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: rgba(0, 0, 0, 0.4);
}

.vestibule {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.vestibule-none {
  display: none;
}

.vestibule__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #000;
}

.vestibule__descr {
  max-width: 300px;
  text-align: center;
}
